html, body {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  background: #060402;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}